<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34056449864-f1je1g4kpqcma1m9nm2euim585lgfjkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34056449864-f1je1g4kpqcma1m9nm2euim585lgfjkj</string>
	<key>API_KEY</key>
	<string>AIzaSyAgYQdzoI2UzS2TgIoByS8RxBlegnXBDYI</string>
	<key>GCM_SENDER_ID</key>
	<string>34056449864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>riccardo.carlotto.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-4dd3a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-4dd3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34056449864:ios:e693cd5dd7c4168ec44d7d</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-4dd3a.firebaseio.com</string>
</dict>
</plist>